SGT Transport/Service References/CANCELACION_ACEPTACION_RECHAZO_PRUEBAS/AceptacionRechazo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://digibox.com.mx/" xmlns:s1="http://cancelacfd.sat.gob.mx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://www.w3.org/2000/09/xmldsig#" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://digibox.com.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://digibox.com.mx/">
      <s:import namespace="http://cancelacfd.sat.gob.mx" />
      <s:element name="ProcesarRespuestaAceptacionRechazo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CSDCer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CSDKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcReceptor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UUIDs" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="aceptacion" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenAutenticacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcesarRespuestaAceptacionRechazoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcesarRespuestaAceptacionRechazoResult" type="s1:AcuseAceptacionRechazo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPeticionesPendientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfcReceptor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenAutenticacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPeticionesPendientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPeticionesPendientesResult" type="s1:AcusePeticionesPendientes" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cancelacfd.sat.gob.mx">
      <s:import namespace="http://www.w3.org/2000/09/xmldsig#" />
      <s:complexType name="AcuseAceptacionRechazo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Folios">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="EstatusUUID" type="s:string" />
              </s:sequence>
              <s:attribute name="Respuesta" type="s:string" />
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" ref="s2:Signature" />
        </s:sequence>
        <s:attribute name="RfcReceptor" type="s:string" />
        <s:attribute name="RfcPac" type="s:string" />
        <s:attribute name="CodEstatus" type="s:string" />
        <s:attribute name="Fecha" type="s:dateTime" use="required" />
      </s:complexType>
      <s:complexType name="AcusePeticionesPendientes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UUID" type="s:string" />
        </s:sequence>
        <s:attribute name="CodEstatus" type="s:string" />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#">
      <s:element name="Signature" type="s2:SignatureType" />
      <s:complexType name="SignatureType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SignedInfo" type="s2:SignedInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="SignatureValue" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyInfo" type="s2:KeyInfoType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Object" type="s2:ObjectType" />
        </s:sequence>
        <s:attribute name="Id" type="s:ID" />
      </s:complexType>
      <s:complexType name="SignedInfoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CanonicalizationMethod" type="s2:CanonicalizationMethodType" />
          <s:element minOccurs="0" maxOccurs="1" name="SignatureMethod" type="s2:SignatureMethodType" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s2:ReferenceType" />
        </s:sequence>
        <s:attribute name="Id" type="s:ID" />
      </s:complexType>
      <s:complexType name="CanonicalizationMethodType" mixed="true">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Algorithm" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="SignatureMethodType" mixed="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HMACOutputLength" type="s:integer" />
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Algorithm" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="ReferenceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Transforms" type="s2:ArrayOfTransformType" />
          <s:element minOccurs="0" maxOccurs="1" name="DigestMethod" type="s2:DigestMethodType" />
          <s:element minOccurs="0" maxOccurs="1" name="DigestValue" type="s:base64Binary" />
        </s:sequence>
        <s:attribute name="Id" type="s:ID" />
        <s:attribute name="URI" type="s:anyURI" />
        <s:attribute name="Type" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="ArrayOfTransformType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transform" type="s2:TransformType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransformType" mixed="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="XPath" type="s:string" />
        </s:sequence>
        <s:attribute name="Algorithm" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="DigestMethodType" mixed="true">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Algorithm" type="s:anyURI" />
      </s:complexType>
      <s:complexType name="KeyInfoType" mixed="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="X509Data" type="s2:X509DataType" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyValue" type="s2:KeyValueType" />
        </s:sequence>
        <s:attribute name="Id" type="s:ID" />
      </s:complexType>
      <s:complexType name="X509DataType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="X509IssuerSerial" type="s2:X509IssuerSerialType" />
          <s:element minOccurs="0" maxOccurs="1" name="X509Certificate" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="X509IssuerSerialType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="X509IssuerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="X509SerialNumber" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValueType" mixed="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RSAKeyValue" type="s2:RSAKeyValueType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RSAKeyValueType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Modulus" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Exponent" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjectType" mixed="true">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="Id" type="s:ID" />
        <s:attribute name="MimeType" type="s:string" />
        <s:attribute name="Encoding" type="s:anyURI" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcesarRespuestaAceptacionRechazoSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarRespuestaAceptacionRechazo" />
  </wsdl:message>
  <wsdl:message name="ProcesarRespuestaAceptacionRechazoSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarRespuestaAceptacionRechazoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPeticionesPendientesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPeticionesPendientes" />
  </wsdl:message>
  <wsdl:message name="ObtenerPeticionesPendientesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPeticionesPendientesResponse" />
  </wsdl:message>
  <wsdl:portType name="AceptacionRechazoSoap">
    <wsdl:operation name="ProcesarRespuestaAceptacionRechazo">
      <wsdl:input message="tns:ProcesarRespuestaAceptacionRechazoSoapIn" />
      <wsdl:output message="tns:ProcesarRespuestaAceptacionRechazoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPeticionesPendientes">
      <wsdl:input message="tns:ObtenerPeticionesPendientesSoapIn" />
      <wsdl:output message="tns:ObtenerPeticionesPendientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AceptacionRechazoSoap" type="tns:AceptacionRechazoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarRespuestaAceptacionRechazo">
      <soap:operation soapAction="http://digibox.com.mx/ProcesarRespuestaAceptacionRechazo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPeticionesPendientes">
      <soap:operation soapAction="http://digibox.com.mx/ObtenerPeticionesPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AceptacionRechazoSoap12" type="tns:AceptacionRechazoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarRespuestaAceptacionRechazo">
      <soap12:operation soapAction="http://digibox.com.mx/ProcesarRespuestaAceptacionRechazo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPeticionesPendientes">
      <soap12:operation soapAction="http://digibox.com.mx/ObtenerPeticionesPendientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AceptacionRechazo">
    <wsdl:port name="AceptacionRechazoSoap" binding="tns:AceptacionRechazoSoap">
      <soap:address location="http://digibox2t.cloudapp.net/ServiciosCancelacion/AceptacionRechazo.asmx" />
    </wsdl:port>
    <wsdl:port name="AceptacionRechazoSoap12" binding="tns:AceptacionRechazoSoap12">
      <soap12:address location="http://digibox2t.cloudapp.net/ServiciosCancelacion/AceptacionRechazo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>